{% extends 'base.html.twig' %}

{% trans_default_domain 'loot' %}

{% block main_content %}
    
	<section class="main-content account account-view">
    	<h3>
    		<a href="{{ path('app_account') }} "><i class="icon-arrow-left-circle back-link"></i></a>
    		{{ 'global.back'|trans }}
    	</h3>

    	<div class="card user-card">
		    <div class="card-body">
		        <div class="text-center">
		        	<i class="icon-user icon-rounded icon-rounded-large icon-rounded-centered "></i></div>
		        <h4 class="text-center card-title">
		        	{% if not contributor.firstname is empty %}
		        		{{ contributor.firstname|capitalize }}
		        	{% endif %}
					
					{% if not contributor.lastname is empty %}
						{{ contributor.lastname|upper }}
					{% endif %}
		        </h4>
		        <h6 class="text-center text-muted card-subtitle mb-2">				{{ contributor.email }}
		        </h6>

		        {% if is_granted('edit', contributor) %}
		        	<ul class="nav justify-content-center account-actions">
		        		<li class="nav-item">
					  		<a href="{{ path('app_account_edit_from_profile', { user_id: contributor.id }) }}" class="nav-link btn-edit">
					  			<i class="icon-pencil">	</i>
					  			{{ 'account.contributor_view.edit'|trans }}
					  		</a>
					  	</li>
					  	{% if is_granted('delete', contributor)  %}
						  	<li class="nav-item">
						  		<a href="{{ path('app_account_delete', { user_id: contributor.id }) }}" class="nav-link btn-delete" >
						  			<i class="icon-trash">	</i>
						  			{{ 'account.contributor_view.delete'|trans }}
						  		</a>
						  	</li>
					  	{% endif %}
					</ul>					

				{% endif %}


				{% if not is_granted('delete', contributor)  %}
			        <div class="alert alert-primary alert-dismissible fade show" role="alert">
						{% if is_delete_denied_by_existing_contributions(contributor) %}
							{{ 'account.contributor_view.delete_denied_with_contributions'|trans }}
						{% else %}
	  					{{ 'account.contributor_view.delete_after_quit_budget'|trans }}
						{% endif %}
	  					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    					<span aria-hidden="true">&times;</span>
	  					</button>
					</div>
				{% endif %}
				<div id="budget-section" class="contributor-detail-section">
		        <h6>{{ 'account.contributor_view.budgets'|trans }}</h6>
			        {% if budgets|length > 0 %}
				        <hr>	
				        <ul class="list-group list-group-flush card-budgets">
							{% for budget in budgets %}
								<li class="list-group-item">
									<i class="icon-handbag">	</i>
									{{ budget.title	 }}
								</li>
							{% endfor %}
						</ul>
					{% else %}
						{{ 'account.contributor_view.no_budgets'|trans}}
				    {% endif %} 
				</div>
				<div id="retribution-section " class="retribution-list contributor-detail-section">
					<h6>{{ 'account.contributor_view.retributions'|trans }}</h6>
					{% if retributions|length > 0 %}
						<hr>	
						<div class="list-group list-group-flush">
							{% for retribution in retributions %}
								{% include('partials/_retribution.html.twig') with { 'retribution' : retribution } %}							
							{% endfor %}
						</div>

					{% else %}
						Aucune rétribution n'est déclarée pour cette utilisateur.
				    {% endif %} 
				</div>
		    </div>
		</div>

    </section>

{% endblock %}