{% extends 'base.html.twig' %}

{% trans_default_domain 'loot' %}

{% block main_content %}
    <section class="main-content account account-create">
    	<h3>
    		<a href="{{ path('app_account') }} "><i class="icon-arrow-left-circle back-link"></i></a>
    		{{ 'menu.add_contributor'|trans }}
    	</h3>
        {{ form_start(form) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.send_passsword) }}
            <div class="form-group custom_message">
                {{ form_label(form.custom_message) }}
                {{ form_widget(form.custom_message) }}
                <p class="mt-1">
                    <a data-toggle="collapse" href="#message_mail_example" class="btn btn-outline-secondary">{{ 'account.btn_display_welcome_email'|trans }}</a>
                </p>
                <div id="message_mail_example" class="collapse">
                    <div class="card">
                        <div class="card-header">
                            <a class="btn btn-outline-secondary" href="#message_mail_example" data-toggle="collapse">{{ 'account.btn_close_welcome_email'|trans }}</a>
                        </div>
                        <div class="card-body">
                            {{ mail_message_example|raw }}
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('account-create') }}

{% endblock %}
