{% extends 'base.html.twig' %}

{% trans_default_domain 'loot' %}

{% block main_content %}
    
    <section class="main-content account account-create">
    	<h3>
    		<a href="{{ backlink }} "><i class="icon-arrow-left-circle back-link"></i></a>
    		{{ 'account.edit_view.edit_contributor'|trans }}
    	</h3>

        {{ form(form) }}

    </section>

{% endblock %}