{% trans_default_domain 'loot' %}

{{ 'account.welcome_mail.header' | trans({'%custom_message%' : custom_message, '%url_login%' : url('app_login'), '%url_user_guide%': "https://loot-project.gitlab.io/userguide"}) | raw | nl2br}}

<ul>
<li>{{ 'account.welcome_mail.your_login' | trans({'%email%' : email})| raw }}</li>
<li>{{ 'account.welcome_mail.your_password' | trans({'%password%' : password})| raw }}</li>
</ul>

<p>
{{ 'account.welcome_mail.login_to_loot' | trans({'%url_login%' : url('app_login')})| raw }}
</p>

<ol>
<li>{{ 'account.welcome_mail.my_account' | trans({'%url_my_account%' : url('app_my_account')})| raw }}</li>
<li>{{ 'account.welcome_mail.join_budget' | trans| raw}}</li>
</ol>

<p>
{{ 'account.welcome_mail.contact_creator' | trans({'%email_creator%' : email_creator})| raw }}
</p>
