{% trans_default_domain 'loot' %}

{{ custom_message }}

- {{ 'account.welcome_mail.your_login' | trans({'%email%' : email}) }}
- {{ 'account.welcome_mail.your_password' | trans({'%password%' : password}) }}

