{% extends 'base.html.twig' %}

{% trans_default_domain 'loot' %}

{% block main_content %}
    
    <section class="main-content account">

        
        <a class="btn btn-primary app-btn fixed-bottom" type="button" href="{{ path('app_account_create') }}">
            <i class="icon-user-follow"></i>  {{ 'menu.add_contributor'|trans }}
        </a>
        <ul class="list-group list-group-flush" id="user-list">
            {% for contributor in users %}

            <li class="list-group-item">
                <div class="d-flex align-items-center user-list-item">

                    <span class="flex-grow-1">
                        {% if contributor.userIdentifier == app.user.userIdentifier %}
                            <strong>
                                <a href="{{ path('app_my_account') }}">
                                {{  contributor.name }} ({{ 'my_account.me'|trans}})
                                </a>
                            </strong>    
                        {% else %}
                            {{  contributor.name }}
                        {% endif %}
                        
                    </span>
                    <div class="dropdown">
                        <button class="btn btn-link" type="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="icon-options-vertical"></i>
                        </button>
                        <div role="menu" class="dropdown-menu dropdown-menu-right">
                            {% if contributor.userIdentifier == app.user.userIdentifier %}
                                <a role="presentation" class="dropdown-item" href="{{ path('app_my_account')}}">{{ 'account.my_account'|trans}}</a>    
                            {% endif %}
                            <a role="presentation" class="dropdown-item" href="{{ path('app_account_view', {'user_id': contributor.id}) }}">{{'account.view_profile'|trans}}</a>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a role="presentation" class="dropdown-item" href="{{ path('app_account_edit', {'user_id': contributor.id}) }}">{{'contextual_menu.edit'|trans}}</a>
                            <a role="presentation" class="dropdown-item" href="{{ path('app_account_delete_view', {'user_id': contributor.id}) }}">{{'contextual_menu.delete'|trans}}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

    </section>

{% endblock %}