{% extends 'base.html.twig' %}

{% trans_default_domain 'loot' %}

{% block main_content %}


    <section class="main-content">

        <div role="alert" class="alert alert-danger m-1">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <span>{{ message|raw }}</span>
        </div>

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}