{% extends 'base.html.twig' %}

{% trans_default_domain 'loot' %}

{% block title %}{{ 'login.title'|trans({}, 'loot') }}{% endblock %}

{% block nav %}{% endblock %}

{% block flash_messages %}{{ parent() }}{% endblock %}

{% block main_content %}

    {% block login_screen %}
    <div id="login-screen">
        {% block login_screen_content %}
        <h1 class="app-title">{% block login_app_title %}loot{% endblock %}</h1>
        <div class="app-logo"></div>
            {% block login_form %}
        <form method="post">
            <div class="form-group"><input class="form-control" type="text" value="{{ last_username }}" name="_username" placeholder="{{ 'login.form.username.placeholder'|trans|escape('html_attr') }}" required autofocus /></div>
            <div class="form-group"><input class="form-control" type="password" name="_password" placeholder="{{ 'login.password'|trans|escape('html_attr') }}" required /></div>


            {% if error %}
                <div role="alert" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span><strong>{{ 'login.connexion_failed'|trans }}</strong><br />{{ error.messageKey|trans(error.messageData, 'security') }}<br /></span></div>
            {% endif %}

            <div class="form-group"><button class="btn btn-primary app-btn btn-block login-btn " type="submit">{{ 'login.signin'|trans }}</button></div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <a class="forgot" href="reset-password">{{ 'login.password_forgotten'|trans}}</a>
        </form>
            {% endblock %}
        {% endblock %}
    </div>
    {% endblock %}
{% endblock %}
