{% trans_default_domain 'loot' %}

<nav class="navbar navbar-light navbar-expand-md sticky-top bg-white d-flex flex-row top-action-bar" id="action-nav">

    <div class="app-container">
        <div class="container-fluid no-gutters">

            <ul class="nav navbar-nav d-flex flex-row justify-content-around actions">

                <li role="presentation" class="nav-item flex-grow-1">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'app_dashboard' ? 'active' }}" href="{{ path('app_dashboard') }}">
                        <i class="icon-pie-chart"></i>
                        <small class="form-text text-muted">{{ 'action_bar.dashboard'|trans|capitalize }}</small>
                    </a>
                </li>

                <li role="presentation" class="nav-item flex-grow-1">
                    <a class="nav-link {{ (app.request.attributes.get('_route') starts with 'app_budget') ? 'active' }}" href="{{ path('app_budget') }}">
                        <i class="icon-handbag"></i><small class="form-text text-muted">{{ 'action_bar.budgets'|trans|capitalize }}</small>
                    </a>
                </li>

                <li role="presentation" class="nav-item flex-grow-1">
                    <a class="nav-link {{ app.request.attributes.get('_route') starts with 'app_account' ? 'active' }}" href="{{ path('app_account') }}">
                        <i class="icon-user"></i>
                        <small class="form-text text-muted text-truncate">{{'action_bar.contributors'|trans|capitalize }}</small>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>