{% trans_default_domain 'loot' %}

{% if budget.amount>0 %}

    {# Calculate % for the progress bar #}
    {% set total_amount_deficit=total_amount_logged-budget.amount %}
    {% set bar_amount_size=(total_amount_logged>budget.amount)?(total_amount_logged+total_amount_deficit):budget.amount %}
    <div class="progress">
        <!-- Display the % of claimed value -->
        <div class="progress-bar bg-success" aria-valuenow="{{ total_amount_claimed }}" aria-valuemin="0" aria-valuemax="{{ bar_amount_size }}" style="width: {{ (total_amount_claimed*100/bar_amount_size)|round(0) }}%;"></div>
        <!-- Display the % of logged value -->
        <div class="progress-bar bg-info" aria-valuenow="{{ (total_amount_logged-total_amount_claimed) }}" aria-valuemin="0" aria-valuemax="{{ bar_amount_size }}" style="width: {{ ((total_amount_logged-total_amount_claimed)*100/bar_amount_size)|round(0) }}%;"></div>
        <!-- Display the % of claimed value -->
        {% if total_amount_deficit>0 %}
            <div class="progress-bar bg-danger" aria-valuenow="{{ total_amount_deficit }}" aria-valuemin="0" aria-valuemax="{{ bar_amount_size }}" style="width: {{ (total_amount_deficit*100/bar_amount_size)|round(0) }}%;"></div>
        {% endif %}
    </div>
    <small class="text-muted text-right progress-value">
        <div>
        <span class="text-success">
            {{ 'budget.bar.claimed'|trans({'%amount%': total_amount_claimed, '%unit%': budget.unitSymbol}) }}
        </span> /
            <span class="text-info">
                {{ 'budget.bar.logged'|trans({'%amount%': total_amount_logged, '%unit%': budget.unitSymbol}) }}
        </span>{% if total_amount_deficit>0 %} /
            <span class="text-danger">
            {{ 'budget.bar.deficit'|trans({'%amount%': total_amount_deficit, '%unit%': budget.unitSymbol}) }}
            </span>{% endif %} /
            {{ 'budget.bar.budget'|trans({'%amount%': budget.amount, '%unit%': budget.unitSymbol}) }}
        </div>
    </small>
{% endif %}