{%- trans_default_domain 'loot' -%}

<div class="card budget-card">
	<div class="card-header">
		<div class="app-container">
			<div class="d-flex justify-content-between">
				<a href="{{ path('app_budget') }} "><i class="icon-arrow-left-circle back-link"></i> {{ 'global.back'|trans }}</a>
				<h4 class="card-title">{{ budget.title }}</h4>
				{{ include('partials/_budget_inline_menu.html.twig') }}
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="app-container">
			<h6 class="text-muted card-subtitle mb-2">{{ budget.subtitle }}</h6>
			{{ budget_bar(budget) }}
		</div>
	</div>
</div>

<nav class="navbar navbar-light navbar-expand-md sticky-top bg-white d-flex flex-row top-action-bar" id="action-nav">

    <div class="app-container">
        <ul class="nav navbar-nav d-flex flex-row justify-content-around actions">
              <li role="presentation" class="nav-item flex-grow-1 action">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'app_budget_log' ? 'active' }} {{ not is_granted('contribute', budget) ? ' disabled' }}" href="{{ path('app_budget_log', {slug: budget.slug}) }}">
                    <i class="icon-book-open"></i>
                    <small class="form-text text-muted">{{ 'budget.log'|trans }}</small>
                </a>
            </li>

            <li role="presentation" class="nav-item flex-grow-1 action">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'app_budget_claim' ? 'active' }} {{ not is_granted('contribute', budget) ? ' disabled' }}" href="{{ path('app_budget_claim', {slug: budget.slug}) }}">
                    <i class="icon-bell"></i>
                    <small class="form-text text-muted">{{ 'budget.claim'|trans }}</small>
                </a>
            </li>

            <li role="presentation" class="nav-item flex-grow-1 action">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'app_budget_history' ? 'active' }}" href="{{ path('app_budget_history', {slug: budget.slug}) }}">
                    <i class="icon-list"></i>
                    <small class="form-text text-muted">{{ 'budget.history'|trans }}</small>
                </a>
            </li>

        </ul>
    </div>
</nav>
