{% trans_default_domain 'loot' %}

<div class="dropdown">
    <button class="btn btn-link" type="button" data-toggle="dropdown" aria-expanded="false">
        <i class="icon-options-vertical"></i>
    </button>

    <div role="menu" class="dropdown-menu dropdown-menu-right">

        {% if not (app.user in budget.contributors) and is_regular_loot_user() %}
            <a role="presentation" class="dropdown-item text-success" href="{{ path('app_budget_join', {slug: budget.slug}) }}">{{ 'budget.join'|trans }}</a>
        {% elseif (is_regular_loot_user()) %}
            <a role="presentation" class="dropdown-item" href="{{path('app_budget_log', {slug: budget.slug})}}">{{ 'budget.log'|trans }}</a>
            <a role="presentation" class="dropdown-item" href="{{ path('app_budget_claim', {slug: budget.slug}) }}">{{ 'budget.claim'|trans }}</a>
            <div class="dropdown-divider"></div>
            <a role="presentation" class="dropdown-item" href="{{path('app_budget_history', {slug: budget.slug})}}">{{ 'budget.history'|trans }}</a>
            <a role="presentation" class="dropdown-item" href="{{path('app_budget_detail', {slug: budget.slug})}}">{{ 'budget.detail'|trans }}</a>
            <div class="dropdown-divider"></div>
            <a role="presentation" class="dropdown-item" href="{{ path('app_budget_edit', {'slug': budget.slug}) }}">{{ 'contextual_menu.edit'|trans }}</a>
            <!--<a role="presentation" class="dropdown-item" href="#">{{ 'contextual_menu.disable'|trans }}</a>-->
            <div class="dropdown-divider"></div>
            <a role="presentation" class="dropdown-item text-danger" href="{{path('app_budget_leave', {slug: budget.slug})}}">{{ 'budget.leave'|trans }}</a>
        {% endif %}

        {% if is_granted('delete', budget) %}
        <a role="presentation" class="dropdown-item text-danger" href="{{ path('app_budget_delete_view', {slug: budget.slug}) }}">{{ 'contextual_menu.delete'|trans }}</a>
        {% endif %}

    </div>
</div>