{% trans_default_domain 'loot' %}

{# No budget.disabled var for the moment #}

<div data-tags="{{ budget.tags }}" data-archived="{{ (budget.archived)?'1':0 }}" data-contributor="{{ (app.user in budget.contributors)?'1':0 }}" class="collapse list-group-item budget-item {{ budget.archived ? 'budget-archived'}} {{ app.user in budget.contributors ? 'joined-by-current-user'}} {{ (app.user in budget.contributors and not budget.archived) ? 'show' }}">
    
    <div class="d-flex align-items-start budget-list-item ">

        <div class="budget-content flex-grow-1">

            <a class="budget-details-trigger" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-{{budget.id}}" href="#collapse-{{budget.id}}">
                <h4 class="budget-title">{{ budget.title }}</h4>
            </a>
            
            {% if budget.subtitle is not empty %}
            <p class="budget-description">{{ budget.subtitle }}</p>
            {% endif %}


            {% if budget.tags is not empty or budget.archived %}
            {% set tags = budget.tags|split(',') %}
            <ul class="list-inline budget-tags">
                {% for tag in tags %}
                <li class="list-inline-item">
                    <span class="badge badge-primary">{{tag|trim}}</span>
                </li>
                {% endfor %}
                {% if budget.archived %}
                <li class="list-inline-item">
                    <span class="badge badge-danger">{{ 'budget.archived'|trans }}</span>
                </li>
                {% endif %}
            </ul>
            {% endif %}

            <div class="budget-sections">
                <div class="collapse" id="collapse-{{budget.id}}">
                    <p>
                        {{ 'count_contributors'|trans({"contributors": budget.contributors|length})}}
                    </p>
                    {{ budget_bar(budget) }}
                    <a class="text-muted goto-link" href="{{ path('app_budget_detail', {slug: budget.slug}) }}">{{ 'budget.view_detail'|trans }}</a>
                </div>
            </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-link" type="button" data-toggle="dropdown" aria-expanded="false">
                <i class="icon-options-vertical"></i>
            </button>

            <div role="menu" class="dropdown-menu dropdown-menu-right">
                {% if not (app.user in budget.contributors) and is_regular_loot_user() %}
                    <a role="presentation" class="dropdown-item" href="{{ path('app_budget_join', {slug: budget.slug}) }}">{{ 'budget.join'|trans }}</a>
                    <a role="presentation" class="dropdown-item" href="{{path('app_budget_detail', {slug: budget.slug})}}">{{ 'budget.detail'|trans }}</a>
                {% elseif (is_regular_loot_user()) %}
                    <a role="presentation" class="dropdown-item" href="{{path('app_budget_log', {slug: budget.slug})}}">{{ 'budget.log'|trans }}</a>
                    <a role="presentation" class="dropdown-item" href="{{ path('app_budget_claim', {slug: budget.slug}) }}">{{ 'budget.claim'|trans }}</a>
                    <div class="dropdown-divider"></div>
                    <a role="presentation" class="dropdown-item" href="{{path('app_budget_history', {slug: budget.slug})}}">{{ 'budget.history'|trans }}</a>
                    <a role="presentation" class="dropdown-item" href="{{path('app_budget_detail', {slug: budget.slug})}}">{{ 'budget.detail'|trans }}</a>
                    <div class="dropdown-divider"></div>
                    <a role="presentation" class="dropdown-item" href="{{path('app_budget_leave', {slug: budget.slug})}}">{{ 'budget.leave'|trans }}</a>
                    <div class="dropdown-divider"></div>
                    <!--<a role="presentation" class="dropdown-item" href="#">{{ 'contextual_menu.disable'|trans }}</a>-->
                    <a role="presentation" class="dropdown-item" href="{{ path('app_budget_edit', {slug: budget.slug}) }}">{{ 'contextual_menu.edit'|trans }}</a>
                    {% if not budget.archived %}
                        <a role="presentation" class="dropdown-item" href="{{ path('app_budget_archive', {'slug': budget.slug, 'direction': 'close'}) }}">{{ 'contextual_menu.archive'|trans }}</a>
                    {% else %}
                        <a role="presentation" class="dropdown-item" href="{{ path('app_budget_archive', {'slug': budget.slug, 'direction': 'open'}) }}">{{ 'contextual_menu.unarchive'|trans }}</a>
                    {% endif %}
                {% endif %}
                {% if is_granted('delete', budget) %}
                <div class="dropdown-divider"></div>
                <a role="presentation" class="dropdown-item text-danger" href="{{ path('app_budget_delete_view', {'slug': budget.slug}) }}">{{ 'contextual_menu.delete'|trans }}</a>
                {% endif %}
            </div>
        </div>
        
    </div>
    
</div>
