{% trans_default_domain 'loot' %}

<div class="filter">
    <form method="get" action="{{ app.request.requesturi }}">
        <label>{{'budget.filters.activities'|trans}}</label>
        <select class="budget-activities" name="activities[]" id="activities[]" multiple="multiple">
        {% for activity in budget.activities %}
            <option value="{{activity.title}}" {{ activity.title in activities_filter ? 'selected'}} >{{activity.title}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="{{'budget.filters.submit'|trans}}">
    </form>
</div>
