{% trans_default_domain 'loot' %}

<li class="list-group-item log-list-item {{ (app.user.userIdentifier==contribution.contributor.userIdentifier)?'me':'' }} {{ (contribution.retribution is null)?'':'log-claimed' }}">

    
        {% if claim_view is defined and claim_view %}
        <div class="d-flex justify-content-between align-items-start">
            <div class="log-select">
                
                    <input type="checkbox"  id="check-{{ contribution.id }}" data-id="{{ contribution.id }}" data-amount="{{ (contribution.amount is null)?0:contribution.amount }}"/>
                    <label class="log-select-label" for="check-{{ contribution.id }}"><small>{{ 'claim.add_to_retribution'|trans }}</small></label>
                
            </div>

            <!--<div class="dropdown">

                <button class="btn btn-link" type="button" data-toggle="dropdown" aria-expanded="false">
                    <i class="icon-options-vertical"></i>
                </button>

                <div role="menu" class="dropdown-menu dropdown-menu-right">
                    <a role="presentation" class="dropdown-item" href="#">Edit</a>
                    <a role="presentation" class="dropdown-item" href="#">Delete</a>
                </div>
            </div>-->
        </div>
        {% endif %}

    

    <div class="d-flex align-items-center">

        <span class="log-date">
            <span class="log-date-day">{{ contribution.doned|date('d') }}</span>
            <span class="log-date-month">{{ contribution.doned|date('M') }}</span>
            <span class="log-date-year">{{ contribution.doned|date('Y') }}</span>
        </span>

        <span class="flex-grow-1">
            
            <span class="log-description">{{ contribution.description }}</span>

            <span class="log-doned"><i class="icon-book-open"></i> {{ 'contribution.created_date'|trans({'%date%': contribution.created|date('d/m/Y')}) }}</span>
            {% if not (contribution.duration is null) %} | 
            <span class="log-time"><i class="icon-clock"></i> {{ contribution.duration }}h</span>
            {% endif %}

            {% if app.user.userIdentifier != contribution.contributor.userIdentifier %}
                <span class="log-user"><i class="icon-user"></i> {{ 'contribution.made_by'|trans }} {{ contribution.contributor.name }}</span>
            {% else %}
                <span class="log-user"><i class="icon-user"></i> {{ 'contribution.made_by_you'|trans|raw }} </span>
            {% endif %}
            
            
            <!--<ul class="list-inline log-tags">
                <li class="list-inline-item">
                    <span class="badge badge-primary">Compta</span>
                </li>
                <li class="list-inline-item">
                    <span class="badge badge-primary">Appel à projet</span>
                </li>
            </ul>-->
            
            <ul class="list-inline log-activities">
            {% for activitie in contribution.activities %}
            <li class="list-inline-item">
                <span class="badge badge-primary">{{activitie.title}}</span>
            </li>
            {% endfor %}
            </ul>

        </span>


        <span class="log-amount align-self-center">
            {% if not (contribution.amount is null) %}
                {{ contribution.amount }}&nbsp;{{ budget.unitSymbol }}
            {% else %}
                <i class="icon-present"></i>
            {% endif %}
        </span>


    </div>
    {% if (contribution.retribution is null) and (app.user.userIdentifier == contribution.contributor.userIdentifier) %}
        <div class="log-actions">
    
            <a class="btn btn-link btn-delete-log" href="{{ path('app_budget_contribution_delete', {id: contribution.id}) }}">
            <i class="icon-trash"> </i>
            {{ 'contribution.delete.button'|trans }}
        </a>
  
        </div>  
    {% endif %}

</li>
