{% trans_default_domain 'loot' %}

<nav class="navbar navbar-light" id="main-nav">

    <div class="app-container">

        <div class="container-fluid no-gutters">

            <a class="navbar-brand brand" href="{{ path('index') }}">Loot</a>

            <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-none" id="navcol-1">

                <div id="nav-user-card">
                    <i class="icon-user icon-rounded"></i>
                    {% if app.user %}
                        <h3 class="user-name">
                            {% if is_regular_loot_user() %}
                                <a href="{{path('app_account_view',{user_id: app.user.id}) }}">{{ app.user.name }}</a>
                            {% else %}
                                Root
                            {% endif %}
                        </h3>
                        {% if is_regular_loot_user() %}<a class="user-edit" href="{{ path('app_my_account') }}"> {{ 'account.my_account'|trans}}</a> | {% endif %}<a href="{{ path('_logout_main') }}">{{ 'account.logout'|trans}}</a>

                    {% else %}
                        <h3 class="user-name">{{ 'account.anonymous'|trans }}</h3>
                        <a href="{{ path('app_login') }}">{{ 'account.login'|trans}}</a>
                    {% endif %}

                </div>

                <ul class="nav navbar-nav" id="main-menu">
                    <li role="presentation" class="nav-item">
                        <h5>{{ 'menu.contributors'|trans}}&nbsp; &nbsp;<i class="icon-user"></i></h5>
                        <a class="nav-link" href="{{ path('app_account') }}">{{ 'menu.all_contributors'|trans}}</a>
                        <a class="nav-link" href="{{ path('app_account_create') }}">{{ 'menu.add_contributor'|trans}}</a>
                    </li>

                    <li role="presentation" class="nav-item">
                        <h5>{{ 'menu.budgets'|trans}}&nbsp; &nbsp;<i class="icon-handbag"></i></h5>
                        <a class="nav-link" href="{{ path('app_budget') }}">{{ 'menu.all_budgets'|trans}}</a>
                        <a class="nav-link" href="{{ path('app_budget_create') }}">{{ 'menu.add_budget'|trans}}</a>
                    </li>

                    <li role="presentation" class="nav-item">
                        <h5>{{ 'menu.retributions'|trans}}&nbsp; &nbsp;<i class="icon-wallet"></i></h5>
                        <a class="nav-link" href="{{ path('app_retribution') }}">{{ 'menu.all_retributions'|trans}}</a>
                        {% if is_regular_loot_user() %}
                        <a class="nav-link" href="{{ path('app_account_view', {'user_id': app.user.id}) }}">{{ 'menu.my_retributions'|trans}}</a>
                        {% endif %}
                    </li>


                </ul>

            </div>

        </div>
    </div>
</nav>