{% trans_default_domain 'loot' %}

<div class="retribution ">
    <a class="list-group-item d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#{{ retribution.reference }}">
        <span class="retribution-header">
            <span class="retribution-reference"><i class="icon-wallet"></i> {{ retribution.reference }}</span>
            <span class="retribution-meta">
                <i class="icon-handbag"></i> {{ retribution.budget.title}} 
                | <i class="icon-calendar"></i> {{ retribution.created|date('d/m/y')}}
                | <i class="icon-user"></i> {{retribution.contributor.name}}
            </span>	

        </span>
        <span class="retribution-amount">{{ retribution.totalAmount }} {{retribution.budget.unitSymbol}}</span>
    </a>
    <div class="retribution-details collapse" id="{{ retribution.reference }}">
        
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    {% for contribution in retribution.contributions %}
                    
                    <tr class="contribution-details">
                        <td class="contribution-header">
                            <div class="contribution-header-description">{{ contribution.description }}</div>
                        </td>
                        <td>{{ contribution.doned|date('d/m/y') }}</td>
                        {% if contribution.duration %}
                            <td>{{ contribution.duration }} h</td>
                        {% endif %}
                        {% if contribution.amount %}
                            <td>{{ contribution.amount }} {{ contribution.budget.unitSymbol}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>