{% extends 'security/login.html.twig' %}

{% trans_default_domain 'loot' %}

{% block title %}{{ 'reset_password.check_email.title'|trans}}{% endblock %}

{% block login_form %}
    <p class="alert alert-info">
        {{ 'reset_password.check_email.body.expire'|trans({'%expiration%' : resetToken.expirationMessageKey})|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
    </p>
    <p class="alert alert-warning">
        {{ 'reset_password.check_email.body.tryagain'|trans({'%url%' :  path('app_forgot_password_request') })|raw }}
    </p>
{% endblock %}
