{% trans_default_domain 'loot' %}

<p>{{ 'reset_password.email.body.header'|trans}}</p>

<p>{{ 'reset_password.email.body.intro'|trans}}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'reset_password.email.body.expire'|trans({'%expiration%' : resetToken.expirationMessageKey})|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}</p>

<p>{{ 'reset_password.email.body.footer'|trans }}</p>
