{% trans_default_domain 'loot' %}

{{ 'reset_password.email.body.header'|trans}}

{{ 'reset_password.email.body.intro'|trans}}

{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}

{{ 'reset_password.email.body.expire'|trans({'%expiration%' : resetToken.expirationMessageKey})|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}

{{ 'reset_password.email.body.footer'|trans }}