{% extends 'security/login.html.twig' %}

{% trans_default_domain 'loot' %}

{% block title %} {{ 'reset_password.request.title'|trans }} {% endblock %}

{% block login_form %}
    <h1>{{ 'reset_password.request.title'|trans }}</h1>

    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_start(requestForm) }}
    <p>{{ 'reset_password.request.instruction'|trans }}</p>
    {{ form_row(requestForm.email) }}
    <button class="btn btn-primary">{{ 'reset_password.request.send_button'|trans }}</button>
    {{ form_end(requestForm) }}
{% endblock %}
