{% extends 'security/login.html.twig' %}

{% trans_default_domain 'loot' %}

{% block title %}{{'reset_password.reset.title'|trans}}{% endblock %}

{% block login_form %}
    <h1>{{'reset_password.reset.title'|trans}}</h1>

    <p>
        {{ 'reset_password.reset.helper_password_message'|trans }}
    </p>

    {{ form_start(resetForm) }}
    {{ form_row(resetForm.plainPassword) }}
    <button class="btn btn-primary">{{'reset_password.reset.button'|trans}}</button>
    {{ form_end(resetForm) }}
{% endblock %}
