// Theming

// Colors
$theme-colors:
    (
      "app-primary": #FF9999,
      "app-secondary" : #E2D0BE,
      "app-light" : #CCC,
      "app-dark" : #666
);

// Fonts
$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Montserrat', sans-serif;

// Links
$link-color : #666;
$link-decoration : none !default;
$link-hover-decoration: underline !default;


// Buttons
$input-btn-font-family:       $headings-font-family;
$btn-border-radius: 0;

// Primary colors
$primary:      #FF9999;
$secondary:    #E2D0BE;