{% extends 'base.html.twig' %}

{% trans_default_domain 'loot' %}

{% block main_content %}
    
    <section class="main-content account account-edit">


    	<h3>
    		<a href="{{ path('app_my_account') }} "><i class="icon-arrow-left-circle back-link"></i></a>
    		{{ 'account.my_account'|trans }}
    	</h3>

        {{ form(form) }}

    </section>

{% endblock %}