{% extends 'base.html.twig' %}

{% trans_default_domain 'loot' %}

{% block main_content %}
    
    <section class="main-content account account-me">

        <h3>{{ 'account.my_account'|trans }}</h3>
        <ul class="list-group list-group-flush" >
            <li class="list-group-item">
            	<div class="d-flex align-items-center user-list-item">
            		<span class="pr-3"><i class="icon-envelope"></i></span>
            		<a class="flex-grow-1" href="{{ path('app_my_account_edit_mail') }}">{{ 'my_account.edit_mail'|trans }}</a>
            	</div>
            </li>
            	
            <li class="list-group-item">
            	<div class="d-flex align-items-center user-list-item">
            		<span class="pr-3"><i class="icon-lock"></i></span>
            		<a class="flex-grow-1" href="{{ path('app_my_account_edit_password') }}">{{ 'my_account.edit_password'|trans }}</a></li>
            	</li>
            </li>	
            <li class="list-group-item">
            	<div class="d-flex align-items-center user-list-item">
            		<span class="pr-3"><i class="icon-user"></i></span>
            		<a class="flex-grow-1" href="{{ path('app_account_edit_me', {'user_id': app.user.id}) }}">{{ 'my_account.edit'|trans }}</a>
            	</li>
            </li>
            <li class="list-group-item">
            	<div class="d-flex align-items-center user-list-item">
            		<span class="pr-3"><i class="icon-trash"></i></span>
            		<a class="flex-grow-1" href="{{ path('app_account_delete_view', {'user_id': app.user.id}) }}" class="text-danger">{{ 'my_account.delete'|trans }}</a>
            	</div>
            </li>
        </ul>


    </section>

{% endblock %}