$main-content-margin : 15px;
$app-container-width : 640px;

.app-container {
  width: 100%;
  padding : 0;
  margin: 0 auto;
}

.main-content {
	margin: 10px auto;
	padding-bottom: 70px;

	h3 {
  		font-size: 22px;
  		border-bottom: 1px solid #666;
  		padding-bottom: 10px;
      padding-left : 10px;
  		margin-top: 14px;

  		i {
  			font-size: 23px;
			  float: right;
			  margin-right: 12px;
  		}

      i.back-link {
          float: left;
          line-height: 29px;
      }
	}

}

.dropdown {

      button {
        padding: 0 10px 0 20px;
      }

        .dropdown-menu {
          border-radius: 0;
          z-index: 1099;
        }
      }


// Need to fix z-index off-canvas menu overlay
.side-menu-overlay {
  z-index  : 1030;
}

