// Bootstrap ovverides and app global customization
@import "global/fonts";
@import "global/theming";

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

// App settings
@import "app";

// App components
@import "components/buttons";
@import "components/navigation";
@import "components/action_nav";
@import "components/alerts";
@import "components/form";
@import "components/icons";
@import "components/filters";
@import "components/retribution";

// App template specific styles
@import "templates/login";
@import "templates/welcome";
@import "templates/account";
@import "templates/budget";
@import "templates/budget_wizard";
@import "templates/log";

// Libraries
@import "~bootstrap-select/sass/bootstrap-select";

@import '~select2';
.main-content { position: relative; } /* to contain select2 in the main width area */
@media (min-width: 768px) {
  .app-container {
    width: $app-container-width;
  }
}
