// Action bar
//
// Bottom buttons - Shortcuts to essentials functions

#action-nav {
	
	padding: 0;
		
	.nav {
		width: 100%;
		text-align: center;		

		.nav-item {
			padding : 0;

			.nav-link.active small{
				font-weight: 600;
			}
			
		}
	}
}

#action-nav.top-action-bar  {
	.nav .nav-item .nav-link {
		border-bottom: 1px solid theme-color("app-light");
	}

	.nav .nav-item .nav-link.active {
		border-bottom : 3px solid theme-color("app-primary");
	}
}

#action-nav.bottom-action-bar  {
	.nav .nav-item .nav-link {
		border-top: 1px solid theme-color("app-light");
	}

	.nav .nav-item .nav-link.active {
		border-top : 3px solid theme-color("app-primary");
	}	
}
