@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.alert {
    font-size: 85%;
    text-align: center;
  
    a {
      text-decoration: underline;
      font-weight: 600;
    }
  }

.alert-success{
    background-color: #818AA3;
    border: none;
    color: white;
    font-weight: 600;

    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);

    .close {
        color : white;
    }
    
}