.app-btn:not(:disabled):not(.disabled):active, 
.app-btn:not(:disabled):not(.disabled).active, 
.app-btn, .app-btn:hover, .app-btn:active {
	width: 100%;
	border : none;
	background-color:   theme-color("app-secondary");
	color : theme-color("app-dark");
}

.btn-outline-secondary {
	color: darken($secondary, 50%);
}

.btn-link:hover,
.btn-link:focus {
	text-decoration: none;
}

.fixed-bottom {
	width: 100%;
	margin: 0 auto;
}

@media (min-width: 992px) {
	.btn-primary.fixed-bottom {
		position: relative !important;
		bottom: auto !important;
	}
}