// Forms
//
// Global forms, input and buttons styles

form {

	margin : 10px;

	.form-group {
		label {
			margin: 0;
			font-size: 11px;
			letter-spacing: 2px;
			font-weight: bold;
			color : theme-color('app-primary');
			text-transform: uppercase;
		}

		.form-control {
			color : theme-color('app-dark');
			border : none;
			border-bottom: 1px solid #CCC;
			border-radius: 0;
			padding-left: 0;
		}

		.form-control:focus {
			box-shadow: none;
			border-bottom: 3px solid theme-color('app-primary');
		}

		.form-control::placeholder {
			color : theme-color('app-light');
		}

		.input-group-text {
			border: none;
			border-radius: 0;
		}
	}

		

	button[type="submit"],
	button[type="submit"]:hover,
	button[type="submit"]:active,
	button[type="submit"]:focus  {
		width: 100%;
		border : none;
		background-color:   theme-color("app-secondary");
		color : theme-color("app-dark");

		&.confirm {
			width: inherit;
			background-color: theme-color("success");
			color: theme-color("light");
		}
	}


}



