.icon-rounded {
	font-size: 30px;
	line-height: 47px;
	background-color:#666;
	color:white;
	border-radius: 50%;
	display: block;
	width: 50px;
	height: 50px;	
	
}

.icon-rounded-small {
	width: 30px;
	height: 30px;	
	font-size: 10px;
	line-height: 27px;
}

.icon-rounded-large {
	width: 60px;
	height: 60px;	
	font-size: 30px;
	line-height: 55px;	
} 

.icon-rounded-centered {
	margin : 0 auto 15px;
}
