// Navigation
//
// Main offcanvas navigation - based on Bootstrap Better Nav

#main-nav {
	background-color: theme-color("app-primary");
	padding : 0.5rem 0;

	.brand {
		background : url('../images/logo-white.svg') left center no-repeat;
		background-size: 30%;
		padding-left: 35px;
		color : $white;
		font-family : $headings-font-family;
		font-weight: 600;
	}

	.navbar-toggler {
	  	border : 0;		
		.navbar-toggler-icon {
	  		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}	
	}
	
	

}

#nav-user-card {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
	.user-name {
		font-size: 1.5rem;
		margin-bottom: 0;
	}
	.icon-user {		
		margin: 0 auto 15px;
	}
}

#main-menu {
	
	text-align: right;

	h5 {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 550;
		color: theme-color("app-primary");
	}

	.nav-item {
		margin-top: 25px;
	}

	.nav-link {
		border-top: 1px solid #CCC;
		padding: 6px 25px 10px;
		font-weight: 400;
		font-size: 14px;
		color: theme-color("app-dark");
	}
}