.retribution-list {
    .list-group-item {
        padding : 0.6rem 0.2rem;
        cursor: pointer;
    }
    .retribution-header {

        
        .retribution-reference {
            display: block;
            font-size: 0.9rem;
            color : theme-color("app-primary");
            font-weight: 600;
        }
        .retribution-meta {
            display: block;
            font-size: 0.7rem;
            padding : 0.3rem 0;
        }
    }
    .retribution-date {
        font-size : 0.6rem;
    }
    .retribution-amount {
        font-size: 1rem;
        font-weight: 900;
    }
    .retribution-details {
        font-size: 0.65rem;
        
        .contribution-details {
            td {
                padding : 0.5rem;
                text-align: right;
            }

            td.contribution-header {
                width: 60%;
                text-align: left;
                .contribution-header-description {
                    max-height: 30px;
                    font-weight: 600;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                

            }
        }

    }
}