.account {

	.user-card {
		border : none;
		.account-actions {
			font-size: 0.9rem;
			text-transform: capitalize;
			a.disabled {
				opacity: 0.4;
			}
		}
	}
	#budget-section {
		margin-top: 40px; margin-bottom: 40px;
		li {
			padding : 0.5rem 0;
			font-size: 0.9rem;
		}
	}
	#user-list {
		padding : 0 20px;

		.list-group-item {
			padding : 0;
			.user-list-item {
				padding : 10px 0;
			}	
		}
			
	}

	.contributor-detail-section {
		h6{
			font-weight: 600;;
		}
	}
	
}