#budget-list {

	padding: 0 10px;

	.budget-item {
		padding : 10px 0;
	}

	.budget-icon {
		padding : 0 10px; 
	}


	.budget-item .budget-content {
		padding-left: 14px;

		.budget-description {
			color : theme-color('app-dark');
		}
	}

	.budget-item.joined-by-current-user .budget-content {
		border-left: 4px solid theme-color('app-primary');
		padding-left: 10px;
	}

	.budget-item.disabled .budget-content {
		border-left: 4px solid theme-color('app-light');
		padding-left: 10px;
		.budget-title, .budget-description {
			color : theme-color('app-light');
		}
	}

    .goto-link {
		display: block;
		font-size: 13px;
		text-decoration: underline;
		margin-top: 7px;
	}

	.budget-title {
		font-size: 1.1rem;
	}


	.budget-description {
		font-size: 12px;
		font-weight: 400;
		margin-top: -0.5rem;
		margin-bottom: 0.8rem;
	}

	.budget-details-trigger {
		margin: 0;
		padding: 0;
		font-size: 13px;
	}


	.budget-sections {
		margin-bottom: 10px;

		.progress {
			height: 0.7rem;
			border-radius: 0;
		}

	}

	.budget-tags {	

		margin-top: 6px;
		.badge {
			color: white;
		}
	}

}

#budget-details {

	.card {
		border : 0;
	}
	.card-body {
		padding: 0 10px;
	}

	.card-title {
		margin-top: 20px;
	}
	.goto-link {
		font-size: 0.9rem;
		text-decoration: underline;
	}

	p {
		margin-top: 15px;
		font-size: 0.9rem;
	}
	

	h6 {
		margin-top: 30px;
		margin-bottom: 20px;
		padding-bottom: 5px;
		border-bottom: 1px solid theme-color('app-light');
		font-weight: 600;
	}

	.budget-contributors {
		ul li span { font-size: 0.9rem; }
	}


}


.budget-card {
	border : 0;
}


.select2-container{
    width: 100%!important;
}
.select2-search--dropdown .select2-search__field {
    width: 98%;
}


