.budget-wizard {
    
    margin : 0 10px; 

    .form-wizard-section {
        display: none;
    }

    .fws-legend,
    .fws-legend-submission {
        h6 {
            margin: 0;
            font-size: 13px;
            letter-spacing: 2px;
            font-weight: bold;
            color: theme-color('app-primary');
            text-transform: uppercase;
        }
        h6:after {
            content: '';
            display: block;
            width: 100%;
            background-color:theme-color('app-dark');
            height: 1px;
            margin: 0.5rem 0 1rem;
        }
        p {
            color : theme-color('app-dark');
            font-size: 0.9rem;   
        }
        a {
            color : black;
            text-decoration: underline;
        }
    }
    
    .form-wizard-section.fws-is-active,
    .form-wizard-section.fws-is-finished {
        display: block;
    }

    .form-wizard-section.fws-is-finished .fws-legend{
        display: none;;
    }

    .form-wizard-navigation {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;

        .skip-wizard {
            
            display: none;
            text-decoration: none;
            span {
                font-size: 0.9rem;
            }
        }
        
        button, button:active {
            background-color: white;
            color: theme-color('app-dark');
            border: none;
            font-size: 1.8em;
            padding: 0;
        }

        button:focus {
            box-shadow: none;
        }

        button:disabled {
            display: none;
        }
        
    }

    .form-wizard-submission,
    .fws-legend-submission {
        display: none;
    }
    
    .form-tunnel {
        

        & > ul {
            display: flex;
            position: relative;
            justify-content: space-between;
            padding: 0;
            margin-top: 2rem;
            list-style: none;
        }

        & > ul::before {
            content : '';
            margin-top : 14px;
            z-index: -1;
            position: absolute;
            height: 2px;
            background-color: theme-color('app-secondary');
            width: 100%;
    
        }
        .step {
            background-color: theme-color('app-secondary');
            color : theme-color('app-dark');
            font-weight: bold;
            font-size: 0.8rem;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
        }

        .step.current-step {
            background-color: theme-color('app-primary');
            color : white;
        }
    }
}