.budget-log {
	.log-amount {
		input {
			font-size: 3rem;
			text-align: center;
		}

		.input-group-append .input-group-text {
			background : none;
			font-size: 2rem;
			padding: 0.375rem 1.75rem;
		}
	}
}

.budget-claim, .budget-history {


	padding-bottom : 120px;

	.filter-section {

		.filter {
			display: inline-block;
			padding-right: 10px;
		}
		.sort-button {
			font-size: 0.8rem;
			font-weight: 400;
		}

		.sort-button.sortactive {
			font-weight: 600;
		}

		.sort-button i {
			
			padding-right: 8px;
		}
	}	

	#log-list {

		h5 {
			text-transform: uppercase;
			font-size: 0.9rem;
			color:#F99;
			font-weight: 600;
			margin-top: 2rem;
		}

		h5:first-child{
			margin-top: 1rem;	
		}


		.log-list-item {
			padding: 10px 20px;
			margin-bottom: 1rem;
			border-bottom: 1px solid $gray-400;

			&:last-child { border-bottom: inherit; }

			&.me {
				background-color: #FF999912;
			}
			& > div {
				width: 100%;
			}

			.log-select {

				input[type="checkbox"] {
				}

				label, label small, label span {
					padding-left : 5px;
					font-weight: 600;
					color: 	theme-color('app-dark');
				}
			}


			.log-description {
				font-size: 0.9rem;
				display: block;
				font-weight: 600;
			}

			.log-date {
				text-align: center;
				color : theme-color('app-primary');
				padding-right: 20px;
				min-width: 4rem;
				.log-date-day {
					display: block;
					font-size: 1.6rem;
					line-height: 1.2rem;
					font-weight: 600;
					padding-top: 5px;
				}
				.log-date-month {
					display: block;
					font-size: 0.9rem;
					font-weight: 600;
					line-height: 1.2rem;
					text-transform: uppercase;
					padding-bottom: 5px;
					border-bottom: 2px solid theme-color("app-primary");
				}

				.log-date-year {
					display: block;
					font-size: 0.8rem;
					font-weight: 600;
				}
			}

			.log-user {
				font-size: 0.8rem;
				display: block;
				padding : 5px 0;
				
			}

			.log-time, .log-doned {
				font-size: 0.8rem;
				//display: block;
				margin-bottom: 10px;
			}

			.log-tags .badge{
				color : white;
			}

			.log-amount {
				white-space: nowrap;
				font-size: 1.2rem;
				font-weight: 640;
				color: theme-color('app-dark');
			}

			&.log-claimed .log-amount{
				text-decoration: line-through;
			}

			.dropdown .btn {
				padding: 0 15px;
			}


		}

		.log-actions {
			text-align: center;
			border-top: 1px solid theme-color('app-light');
			margin-top: 10px;

			a {
				font-size: 0.92rem;
				color : red;
			}
		}
		
	}
}



#claim-bill {
	background-color: white;
	border-top: 1px solid theme-color('app-light');

	span {
		font-size: 0.9rem;
		text-transform: uppercase;
		color : theme-color('app-primary');
		font-weight: 600;
		padding-left: 1rem;

	}

	.claim-amount {
		text-align: center;
		font-size: 2rem;
		line-height: 3rem;
		color: theme-color('app-dark');
		padding: 0.4rem 0;
		float: right;
		padding-right: 15px;
	}

}

.process-claim {
	.process-content {
		margin : 1rem;

	}

	.claim-id {
		text-align: center;
		font-size: 1.2rem;
		font-weight: bold;
		color:#666;
		margin: 1rem;
		display: block;
	}
}