// Login Template
//
// Styling Login screen

#login-screen {

 	background: rgb(255,153,153);
	background: linear-gradient(180deg, rgba(255,153,153,1) 0%, rgba(255,153,153,1) 250px, rgba(255,255,255,1) 250px, rgba(255,255,255,1) 100%); 

	text-align: center;

	form {
		max-width: 320px;
		margin: 50px  auto 0;
	}

	.app-title {
		color : white;
		font-weight: 600;
		padding-top: 130px;
		padding-bottom: 20px;
	}
	.app-logo{
		background: url('../images/logo-bw.svg') center center no-repeat;
		width: 72px;
		height: 72px;
		margin : 0 auto;
	}

}

