.welcome {
	text-align: center;
	margin-top: 30px;
	padding: 0 60px;

	h2:after {
		content : '';
		background : url('../images/logo-bw.svg') center center no-repeat;
		display: block;
		width: 60px;
		height: 60px;
		margin: 0 auto;
		margin-top: 30px;
	}

	p {
		margin : 20px 0;
	}

	a {
		color : theme-color('app-primary');
		font-weight: 600;
	}
}
