{% extends 'budget/layout_budget_view.html.twig' %}

{% trans_default_domain 'loot' %}

{% block main_content %}
    
    <section class="main-content process-claim">

            <h3>
            <i class="icon-rocket"></i>
            {{ 'claim.done'|trans }}
            </h3>

            <div class="process-content">   
                <p>{{ 'claim.view.reference_intro'|trans }}</p>
                <span class="claim-id">{{ retribution.reference }}</span>
                <p>{{ 'claim.view.use_reference'|trans }}</p>
            </div>
            <a href="{{ path('app_budget_log', {slug: budget.slug}) }}" class="btn app-btn mb-3">{{ 'claim.view.log_new_contribution'|trans }}</a>
            <a class="btn app-btn" href="{{ path('app_budget') }}">{{ 'claim.view.go_budgets'|trans }}</a>
    </section>

{% endblock %}