{% extends 'budget/layout_budget_view.html.twig' %}

{% trans_default_domain 'loot' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    
    <section class="main-content budget-claim">
            <div class="filter-section">
                <div class="filter">   
                    <input type="checkbox" class="log-select-all" id="log-select-all">
                    <label class="form-check-label" for="log-select-all">{{ 'contribution.filters.check_all'|trans }}</label>
                </div>
            </div>

            <ul class="list-group list-group-flush" id="log-list">
            {% for contribution in contributions %}
                    {% include 'partials/_contribution.html.twig' with {'claim_view': true, 'budget': budget, 'contribution': contribution} %}
            {% endfor %}
            </ul>
    </section>

    <form method="post" id="claim-bill" class="fixed-bottom" action="{{ path('app_budget_claim', {slug: budget.slug}) }}">
        <div class="app-container">
            <input type="hidden" name="claim-ids" id="claim-ids" />
            {% if not (budget.unitSymbol is empty) %}
            <span>{{ 'claim.total_retribution'|trans }}</span>
            <span class="claim-amount"><strong id="claim-amount">0</strong> {{ budget.unitSymbol }}</span>
            {% endif %}
            <a href="#claim-button-confirmation" data-toggle="collapse" class="btn btn-primary app-btn">
                {{ 'claim.claim_button_label'|trans }}
            </a>
            <div id="claim-button-confirmation" class="collapse pb-2">
                <p class="alert alert-info m-2">{{ 'claim.claim_confirmation'|trans }}</p>
                <div class="d-flex align-items-center justify-content-center">
                    <button class="btn confirm mr-1" type="submit">{{ 'claim.claim_button_confirm'|trans }}</button>
                    <a href="#claim-button-confirmation" data-toggle="collapse" class="btn btn-outline-primary ml-1">{{ 'claim.claim_button_cancel'|trans }}</a>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('budget-claim') }}
{% endblock %}
