{% extends 'budget/layout_budget_view.html.twig' %}

{% trans_default_domain 'loot' %}

    {% block main_content %}

        <section class="main-content">

            <div id="budget-details">

                <div class="card budget-card">

                    <div class="card-body">
                        {% if budget.tags is not empty %}
                        {% set tags = budget.tags|split(',') %}
                        <ul class="list-inline budget-tags">
                            {% for tag in tags %}
                            <li class="list-inline-item">
                                <span class="badge badge-primary">{{tag|trim}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="budget-description-full" >
                            {# <p>Budget reparti entre les membres actifs pour le fonctionnement quotidien de l&#39;association.</p> #}
                            {% if budget.rules %}
                                <a class="goto-link" href="{{ budget.rules }}" target="_blank">{{'budget.view_rules'|trans}}</a>
                            {% endif %}
                        </div>
                    </div>

                    {% if budget.referent %}
                        <div class="budget-referent budget-details-section" >
                            <h6>{{ 'budget.referent' | trans }}</h6>
                            <p><i class="icon-user"></i>
                                <a href="{{path('app_account_view',{user_id: budget.referent.id}) }}">{{budget.referent.name}}</a>
                                | <a class="goto-link" href="mailto:{{ budget.referent.email }}" target="_blank">{{'budget.contact_referent'|trans}}</a>
                            </p>

                        </div>
                    {% endif %}

                    {% if budget.activities|length > 0 %}
                        <div class="budget-activities budget-activities-section" >
                            <h6>{{ 'budget.activities' | trans }}</h6>
                            <p>
                                {% for activitie in budget.activities %}
                                <li class="list-inline-item">
                                    <span class="badge badge-primary">{{activitie.title}}</span>
                                </li>
                                {% endfor %}
                            </p>

                        </div>
                    {% endif %}

                    {% if from=='delete' and is_granted('delete', budget)  %}
                        <p>
                            <span class="text-danger">{{ 'budget.delete.warning'|trans }}</span>
                        </p>
                        <p>
                            <a href="{{ path('app_budget_delete', {'slug': budget.slug}) }}" class="btn btn-danger btn-delete">{{ 'budget.delete.confirm'|trans }}</a>
                        </p>
                    {% endif %}

                    <div class="budget-contributors budget-details-section" >
                        <h6>{{ 'menu.contributors'|trans|capitalize }}</h6>
                        {% if not budget.contributors is empty %}
                            <ul class="list-unstyled">
                                {% for contributor in budget.contributors %}
                                <li >
                                    <span>
                                        <i class="icon-user"></i>
                                        <a href="{{path('app_account_view',{user_id: contributor.id}) }}">
                                             {{ contributor.name }}
                                        </a>
                                    </span>
                                </li>
                                {% endfor %}
                        </ul>
                        {% else %}
                            <small class="text-muted">{{'budget.no_contributors'|trans}} </small>
                        {% endif %}
                    </div>

                    <div class="retribution-list budget-details-section">
                        <h6>{{ 'account.contributor_view.retributions'|trans }}</h6>
                        {% if retributions|length > 0 %}
                            <div class="list-group list-group-flush">
                                {% for retribution in retributions %}
                                    {{ include('partials/_retribution.html.twig') }}
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ 'budget.retributions.none'|trans }}
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>


    </div>


</section>

{% endblock %}
