{% extends 'base.html.twig' %}

{% trans_default_domain 'loot' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    
    <section class="main-content budget budget-{{ (slug is empty)?'create':'edit' }} budget-{{ app.request.method }}">

        <h3>
    		<a href="{{ path('app_budget') }} "><i class="icon-arrow-left-circle back-link"></i></a>
			{% if slug is empty %}
    		{{ 'budget.form.add_title'|trans }}
			{% else %}
				{{ 'budget.form.edit_title'|trans({'%budget%': budget.title}) }}
			{% endif %}
    	</h3>
		{% if not slug is empty and budget.amount > 0 %}
			<div class="budget-bar" >
				{{ budget_bar(budget) }}
			</div>
		{% endif %}

		{{ form_start(form) }}

    		<div id="form" class="budget-wizard" data-fw-step="1">
				<div class="fws-legend-submission">
						<h6>{{ 'wizard.submission_title'|trans|raw}}</h6>
						<p>{{ 'wizard.submission_text'|trans|raw}}</p>	
				</div>
				<div class="form-wizard-section">
					<div class="fws-legend">
						<h6>{{ 'wizard.budget_title'|trans|raw}}</h6>
						<p>{{ 'wizard.budget_text'|trans|raw}}</p>	
					</div>
					{{ form_row(form.title) }}
					{{ form_row(form.subtitle) }}
					
				</div>
				<div class="form-wizard-section">
					<div class="fws-legend">
						<h6>{{ 'wizard.budget_rules_title'|trans|raw}}</h6>
						<p>{{ 'wizard.budget_rules_text'|trans|raw}}</p>	
					</div>
					{{ form_row(form.rules) }}
					{{ form_row(form.referent) }}
				</div>
				<div class="form-wizard-section">
					<div class="fws-legend">
						<h6>{{ 'wizard.budget_tags_title'|trans|raw}}</h6>
						<p>{{ 'wizard.budget_tags_text'|trans|markdown_to_html }}</p>
					</div>
					{{ form_row(form.tags) }}
					{{ form_row(form.activities) }}
				</div>
				<div class="form-wizard-section">

					<div class="fws-legend">
						<h6>{{ 'wizard.budget_unit_title'|trans|raw}}</h6>
						<p>{{ 'wizard.budget_unit_text'|trans|raw}}</p>	
					</div>
					{{ form_row(form.amount) }}
					{% if (form.unit is defined) %}
					<div class="form-row">	
						<div class="form-group col-6 col-md-4">
							{{ form_label(form.unit) }}
							{{ form_widget(form.unit) }}
						</div>
						<div class="form-group col-6 col-md-4">
							{{ form_label(form.unitSymbol) }}
							{{ form_widget(form.unitSymbol) }}
						</div>
					</div>
					{% endif %}
				</div>
				<div class="form-wizard-section">
					<div class="fws-legend">
						<h6>{{ 'wizard.budget_time_title'|trans|raw}}</h6>
						<p>{{ 'wizard.budget_time_text'|trans|raw}}</p>	
					</div>
					{{ form_row(form.timetracking) }}
				</div>

				<div class="form-validation">
					<span class="message"></span>	
				</div>

				<div class="form-wizard-submission">
					{{ form_row(form.save) }}
				</div>

				<div class="form-wizard-navigation">
					<a href="#" class="skip-wizard"><i class='icon-action-redo'></i>&nbsp;<span>{{ 'wizard.skip_wizard'|trans|raw}}</span> </a>
					<button type="button" class="btn-primary btn btn-prev"> <i class='icon-arrow-left-circle'></i></button>
					<button type="button" class="btn-primary btn btn-next"> <i class='icon-arrow-right-circle'></i> </button>
				</div>
				
    		</div>

		{{ form_end(form) }}

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('budget-wizard') }}
    {{ encore_entry_script_tags('budget-edit') }}
{% endblock %}
