{% trans_default_domain 'loot' %}

<p>
{{ 'claim.notification_mail' | trans({'%contributor%' : contributor, '%budget%' : budget.title, '%reference%' : reference, '%amount%' : amount, '%unit_symbol%' : budget.unitSymbol}) | raw | nl2br}} 
</p>

<ul>
{% for contribution in contributions %}
<li>
        <span class="log-date">
            <span class="log-date-day">{{ contribution.doned|date('d') }}</span>
            <span class="log-date-month">{{ contribution.doned|date('M') }}</span>
            <span class="log-date-year">{{ contribution.doned|date('Y') }}</span>
        </span>

        <span class="flex-grow-1">
            <span class="log-description">{{ contribution.description }}</span>
        </span>

        <span class="log-amount align-self-center">
            {% if not (contribution.amount is null) %}
                {{ contribution.amount }}&nbsp;{{ budget.unitSymbol }}
            {% endif %}
        </span>
</li>
{% endfor %}
</ul>
