{% trans_default_domain 'loot' %}

{{ 'claim.notification_mail' | trans({'%contributor%' : contributor, '%budget%' : budget.title, '%reference%' : reference, '%amount%' : amount, '%unit_symbol%' : budget.unitSymbol}) }} 

{% for contribution in contributions %}
    - {{ contribution.doned|date('d M Y') }} {{ contribution.description }} {{ contribution.amount }}&nbsp;{{ budget.unitSymbol }}
{% endfor %}
