{% extends 'budget/layout_budget_view.html.twig' %}

{% trans_default_domain 'loot' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    
    <section class="main-content budget-history" >

        <div id="log-list-container">   
            <div class="filter-section ">
                <div class="filter">
                    <input type="checkbox" class="log-show-mine" id="log-show-mine">
                    <label class="form-check-label" for="log-show-mine">{{ 'contribution.filters.only_mine'|trans }}</label>
                </div>
                <div class="filter">
                    <input type="checkbox" class="log-hide-claimed" id="log-hide-claimed">
                    <label class="form-check-label" for="log-hide-claimed">{{ 'contribution.filters.hide_claimed'|trans }}</label>
                </div>
                {# Sort by :
                <button type="button" data-sortorder="asc" class="btn btn-link sort-button" id="sort-by-amount"><i class="icon-arrow-up"></i> Amount</button> #}
            </div>
            <ul class="list-group list-group-flush list" id="log-list">
            {% for contribution in contributions %}
                    {% set is_editable = false %}
                    {{ include('partials/_contribution.html.twig')}}
            {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('budget-history') }}
{% endblock %}
