{% extends 'base.html.twig' %}

{% trans_default_domain 'loot' %}

{% block main_content %}
    

    <section class="main-content budget">

        {% if is_regular_loot_user() %}
        <a class="btn btn-primary app-btn fixed-bottom" type="button" href="{{ path('app_budget_create') }}">
            <i class="icon-handbag"></i>  {{ 'menu.add_budget'|trans }}
        </a>
        {% elseif budgets|length<=0 %}
            <div class="alert alert-info m-2" role="alert">
                {{ 'root.budget_creation_denied'|trans }}
            </div>
        {% endif %}

        {# no filter if no budgets #}
        {%  if budgets|length > 0 %}
        <div class="filter-section d-flex flex-column flex-sm-row align-content-center justify-content-around">
            <div>
                <div class="filter">
                    <input type="checkbox" id="budget-owned-checkbox" checked>
                    <label class="form-check-label" for="budget-owned">{{'budget.filters.only_mine'|trans}}</label>
                </div>
                <div class="filter">
                    <input type="checkbox" id="budget-archived-checkbox">
                    <label class="form-check-label" for="budget-archived">{{'budget.filters.show_archives'|trans}}</label>
                </div>
            </div>
            <div class="tag-search">


                {# This should not be done in the view, just for design testing purpose #}
                {% set tags = [] %}
                {% for budget in budgets %}
                    {% set tags = tags|merge(budget.tags|split(',')) %}
                {% endfor %}

                {% set alltags = [] %}

                {% for tag in tags %}
                    {% set tag= tag|trim %}
                    {% if tag not in alltags and tag !="" %}
                    {% set alltags = alltags|merge([tag]) %}
                    {% endif %}
                {% endfor %}

                {# Here we expect an array named alltags containing all distincts tags used in all budgets #}

                <select id="budget-tag-search" data-live-search="true" class="selectpicker" multiple title="Filtrer par étiquette">
                    {% for tag in alltags %}
                        <option data-content="<span class='badge '>{{tag}}</span>" value="{{tag}}">{{tag}}</option>
                    {% endfor %}

                </select>

            </div>
        </div>
        {% endif %}
        <div class="list-group list-group-flush" id="budget-list">
            <div class="list">
        {% for budget in budgets %}
            {{ include('partials/_budget.html.twig') }}
        {% endfor %}
            </div>
    	</div>

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('budget') }}

{% endblock %}
