{% extends 'base.html.twig' %}

{% trans_default_domain 'loot' %}

{% block nav %}
    {{ include('partials/_navigation.html.twig') }}
    {{ include('partials/_budget_bar.html.twig') }}
{% endblock nav %}