{% extends 'budget/layout_budget_view.html.twig' %}

{% trans_default_domain 'loot' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    
    <section class="main-content budget-log">

        {{ form_start(form) }}

        {% if not (budget.rules is null) %}
        <p class="budget-rules-notice border-bottom pb-2 mt-3">{{ 'contribution.help.rules'|trans({'url': budget.rules})|raw }}</p>
        {% endif %}

        {% if not (budget.unitSymbol is empty) %}
        {{ form_row(form.rewarded) }}
        <div class="form-group log-amount">
            {{ form_label(form.amount) }}
            <div class="input-group">
                {{ form_widget(form.amount) }}
                <div class="input-group-append">
                    <span class="input-group-text">{{ budget.unitSymbol }}</span>
                </div>
            </div>
            <small class="form-text text-muted">{{ 'contribution.help.amount'|trans }}</small>
        </div>
        {% endif %}

        {{ form_row(form.doned) }}

        {% if form.duration is defined %}
        {{ form_row(form.duration) }}
        {% endif %}

        {{ form_row(form.activities) }}

        {{ form_row(form.description) }}

        <!--<div class="form-group">
            <label>Tasks</label>
            <input type="text" class="form-control" name="tasks" placeholder="" />
            <small class="form-text text-muted">List tasks separated by commas.</small>
        </div>-->
        <div class="app-container fixed-bottom">
        {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}

    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('budget-log') }}
{% endblock %}
