{% trans_default_domain 'loot' %}
    
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <title>{% block title %}Loot - Contributive Budget for Commons - Home{% endblock %}</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
        <link rel="stylesheet" href="//unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        
        {% block body %}

            {% block nav %}
            {{ include('partials/_navigation.html.twig') }}
            {{ include('partials/_action_bar.html.twig') }}
            {% endblock nav %}

            <div class="app-container">
            {% block flash_messages %}
                {# read and display all flash messages #}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div role="alert" class="alert alert-dismissible fade show alert-{{ label }} mt-4">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <span>{{ message|raw }}</span>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
            </div>

            <div class="app-container">
            {% block main_content %}
            Welcome to loot
            {% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js" defer=""></script>
        <!-- impossible to use webpack / see : https://github.com/willdurand/BazingaJsTranslationBundle/issues/252 -->
        <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
        <script src="{{ path('bazinga_jstranslation_js', { 'domain': 'loot' }) }}"></script>
    </body>
</html>