{% extends 'base.html.twig' %}

{% block main_content %}
	{% if not app.user %}
		<p>
			<a href="{{ path('app_login') }}">{{ 'account.login'|trans }}</a>
		</p>
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}