{% extends 'base.html.twig' %}

{% trans_default_domain 'loot' %}

{% block main_content %}

	<section class="main-content">

	<div class="welcome">

	    {% if is_regular_loot_user() %}
			<h2>Welcome {{ app.user.name }} !</h2>
			{{ 'welcome.user_msg'|trans({'%budget_path%': path('app_budget')})|raw }}
		{% else %}
			<h1>Welcome root</h1>
			{{ 'welcome.root_msg'|trans|raw }}
		{% endif %}

	</div>


	</section>
{% endblock %}