{% extends 'base.html.twig' %}

{% trans_default_domain 'loot' %}

{% block main_content %}
    

    <section class="main-content">

        <h3>{{ 'retribution.all_retributions'|trans }}</h3>

        <div id="retribution-section" class="retribution-list">
            {% if retributions|length > 0 %}
                <hr>	
                <div class="list-group list-group-flush">
                    {% for retribution in retributions %}
                        {% include('partials/_retribution.html.twig') with { 'retribution' : retribution } %}
                    {% endfor %}
                </div>

            {% else %}
            {{ 'retribution.no_retribution'|trans }}
            {% endif %} 
        </div>

    </section>

{% endblock %}

